body {
  background-image: url("tweed.png");
  font-family: 'Roboto', sans-serif;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: whitesmoke;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
  color: whitesmoke;
}
a.anchor{
	display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

a.btn{
  background-color:black;
}

a:link {
  color:lightskyblue;
}

a:visited {
  color:skyblue;
}
